html, 
body {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  height: 100dvh;
  background-color: ivory;
  background-image: url('../img/5-Reasons-To-Study-Photography.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

/*nav button*/
#nav-button {
  position: fixed;
  top:1rem;
  right:1rem;
  z-index: 1000;
}


/* nav list ul */
#navbar-hamburger .custom-nav-ul {
  font-family: "Old Standard TT", serif;
  font-weight: 100;
  font-style: normal;
display: flex;
text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
 
  
}

/* nav list li */
#navbar-hamburger .custom-nav-li{
clear: both;
 
color: white; /* need to change */
transition: background-color 2s ease-in !important;
width: 100%;
animation: animate 800ms forwards ease;
 margin: 20px 0;
}

#navbar-hamburger a:hover {
  color: #ff6347; /* Change color on hover */
}


/*animation-start*/
#navbar-hamburger .custom-nav-li:nth-of-type(1) {
    transform-origin: top left;
    transform: skewX(45deg) scaleY(0);
}

#navbar-hamburger .custom-nav-li:nth-of-type(2) {
    transform-origin: top right;
    transform: skewX(-45deg) scaleY(0);
    animation-delay: 150ms;
}

#navbar-hamburger .custom-nav-li:nth-of-type(3) {
    transform-origin: top right;
    transform: skewX(45deg) scaleY(0);
    animation-delay: 300ms;
}

#navbar-hamburger .custom-nav-li:nth-of-type(4) {
    transform-origin: top right;
    transform: skewX(-45deg) scaleY(0);
    animation-delay: 450ms;
}

#navbar-hamburger .custom-nav-li:nth-of-type(5) {
    transform-origin: top right;
    transform: skewX(45deg) scaleY(0);
    animation-delay: 600ms;
}

@keyframes animate {
  to{
    transform: skewX(0deg) scaleY(1);
  }
}

/* animate-end*/


/* */